* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    position: relative;
}

#memory-game {
    background-color: black;
    height: 70%;
    width: 70%;
/* Credit: Code taken from https://css-tricks.com/centering-css-complete-guide/, modified for use */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#navigation {
    background-color: red;
    height: 20%;
    width: 100%;
}

#gameplay {
    background-color: orangered;
    height: 80%;
    width: 100%;
}

#game {
    background-color: yellow;
    height: 100%;
    width: 70%;
    float: left;
}

#progress {
    background-color: green;
    height: 100%;
    width: 30%;
    float: right;
}

/*-------------------------------------------Navigation Buttons*/

