* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    position: relative;
}

#memory-game {
    background-color: black;
    height: 70%;
    width: 70%;
/* Credit: Code taken from https://css-tricks.com/centering-css-complete-guide/, modified for use */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*-------------------------------------------Navigation Buttons*/

