* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    position: relative;
}

#memory-game {
    height: 80%;
    width: 70%;
/* Credit: Code taken from https://css-tricks.com/centering-css-complete-guide/, modified for use */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------------------Section 1-Navigation Buttons*/
#navigation {
    background-color: red;
    height: 20%;
    width: 100%;
    position: relative;
}

.nav-btn {
    width: 20%;
    height: 100%;
    margin-left: 10px;
    float: left;
    position: relative;
}

#start-btn {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#instructions-btn {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#difficulty-btn {
    width: 100%;
    height: 50%;
    border-radius: 15px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.settings {
    width: 10%;
    height: 100%;
    float: right;
    margin-right: 10px;
    position: relative;
    
}

#settings-btn {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*-------------------------------------------Section 2-Game*/
#gameplay {
    background-color: orangered;
    height: 80%;
    width: 100%;
}

#game {
    background-color: yellow;
    height: 100%;
    width: 70%;
    float: left;
}

#flash {
    background-color: blue;
    height: 20%;
    width: 100%;
}

.lives {
    background-color: lightskyblue;
    height: 100%;
    width: 16.66%;
    float: left;
    border: 2px solid blue;
    position: relative;
}

#capital-f {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#capital-l {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#capital-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#capital-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#capital-h {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#exclamation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#grid {
    background-color: purple;
    height: 80%;
    width: 100%;
}
/*-------------------------------------------Section 3-Progress*/
#progress {
    background-color: green;
    height: 100%;
    width: 30%;
    float: right;
}

#highscore {
    background-color: lightgreen;
    height: 30%;
    width: 90%;
    margin: auto;
}

#objectives {
    background-color: lightgreen;
    height: 30%;
    width: 90%;
    margin: auto;
}

#hint {
    background-color: lightgreen;
    height: 40%;
    width: 90%;
    margin: auto;
    position: relative;
}

#hint-btn {
    width: 80%;
    height: 60%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}